{%- if page.lightbox %}
<link rel="stylesheet" href="{{ "/assets/css/lightbox.min.css" | relative_url }}">
<style>
.lb-image, .lb-dataContainer {
  width: 90% !important;
  max-width: 90%;
  height: auto !important;
}
.lb-outerContainer {
  width: 90% !important;
  max-width: 90% !important;
  height: 90% !important;
  max-height: 90% !important;
}    
</style>
<script src="{{ "/assets/js/lightbox-plus-jquery.min.js" | relative_url }}"></script>
{%- if page.lightbox_mermaid %}
<script>
$(function() {
$('img.mermaid').each(function() {
    $(this).wrap('<a href="' + $(this).attr('src') + '" data-lightbox="mermaid" />');
});
});
lightbox.option({'fitImagesInViewport': false});
</script>
{%- endif %}
{%- endif %}

